@page "{orderId:int}"
@model SjonnieLoper.Pages.OrderPages.DetailsModel

@{
    ViewData["Title"] = "Details";
}


<h2>@Model.Order.Id</h2>

@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Order.Customer.FullName</td>
            <td>@Model.Order.Customer.AgeYears</td>
        </tr>
        <tr>
            <td>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Amount</th>
                            <th>Whiskey</th>
                            <th class="text-right">Price</th>
                            <th class="text-right">Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var line in Model.Order.CartItems)
                        {
                            <tr>
                                <td>@line.Amount</td>
                                <td>@Html.DisplayFor(c => line.Whiskey.Name)</td>
                                <td class="text-right">€@(line.Whiskey.Price.ToString())</td>
                                <td class="text-right">€@(line.SubTotal.ToString())</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>@Model.Order.TotalBottleAmount</td>
                            <td colspan="2" class="text-right">Total:</td>
                            <td class="text-right">
                                €@(Model.Order.TotalCost.ToString("0.00"))
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </td>
        </tr>
    </tbody>
</table>



<a asp-page="./Index" class="btn btn-outline-dark">All Whiskeys</a>
