@page
@model SjonnieLoper.Pages.OrderPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}

@*
    <form method="get">
        <div class="form-group">
            <div class="input-group">
                <input type="search" class="form-control" asp-for="SearchTerm" />
                <span class="input-group-btn">
                    <button class="btn btn-default">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </form>
*@

<table class="table table-striped table-bordered table-smallcells">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Amount of Bottles</th>
            <th class="text-right">Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.Orders)
        {
        <tr>
            <td>@order.Customer.FirstName</td>
            <td>@Html.DisplayFor(c => order.Customer.AgeYears)</td>
            <td>@(order.TotalBottleAmount)</td>
            <td class="text-right">€@(order.TotalCost.ToString())</td>

            <td class="cell-small">
                <div class="row">
                    <div class="col">
                        <a class="btn btn-lg" asp-page="./Details"
                           asp-route-orderId="@order.Id">
                            <i class="fas fa-search-plus"></i>
                        </a>
                    </div>

                    <div class="col col-3 px-0">
                        <a class="btn btn-lg" asp-page="./Delete"
                           asp-route-orderId="@order.Id">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                </div>
            </td>

        </tr>
        }
    </tbody>
</table>
