@page
@model SjonnieLoper.Pages.ShoppingCartPages.IndexModel
@{
}

<h4>Your ShoppingCart</h4>
<table class="table table-striped table-bordered table-cell-small">
    <thead>
        <tr>
            <th>Selected amount</th>
            <th>Whiskey</th>
            <th class="text-right">Price</th>
            <th class="text-right">Subtotal</th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.ShCartItems)
        {
        <tr>
            <td>@line.Amount</td>
            <td>@Html.DisplayFor(c => line.Whiskey.Name)</td>
            <td class="text-right">€@(line.Whiskey.Price.ToString())</td>
            <td class="text-right">€@(line.SubTotal.ToString())</td>

            <td class="border-right-0">
                    <form method="post">
                        <div>
                            <div class="input-group-prepend">
                                <button class="btn btn-small"
                                        type="submit"
                                        asp-page="/ShoppingCartPages/Index"
                                        asp-page-handler="AddToShoppingCart"
                                        asp-route-whiskeyId="@line.Whiskey.Id">
                                    <i class="fas fa-plus"></i>
                                </button>
                                <button class="btn btn-small"
                                        type="submit"
                                        asp-page="/ShoppingCartPages/Index"
                                        asp-page-handler="RemoveFromShoppingCart"
                                        asp-route-whiskeyId="@line.Whiskey.Id">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <input type="number" min="1" class="form-control form-small" name="amount" value="1">
                            </div>
                        </div>
                    </form>
            </td>

            <td class="border-left-0">
                <form method="post">
                    <div>
                        <button class="btn btn-small"
                                type="submit"
                                asp-page="/ShoppingCartPages/Index"
                                asp-page-handler="RemoveItemFromShoppingCart"
                                asp-route-itemId="@line.Id">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </form>
            </td>

        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">
                €@(Model.PriceTotal.ToString("0.00"))
            </td>
            <td colspan="2"></td>
        </tr>
    </tfoot>
</table>