@page
@model SjonnieLoper.Pages.ShoppingCartPages.IndexModel
@{
}

<h4>Your ShoppingCart</h4>
<table class="table table-striped table-bordered table-smallcells">
    <thead>
        <tr>
            <th>Amount</th>
            <th>Whiskey</th>
            <th class="text-right">Price</th>
            <th class="text-right">Subtotal</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.ShCartItems)
        {
            <tr>
                <td>@line.Amount</td>
                <td>@Html.DisplayFor(c => line.Whiskey.Name)</td>
                <td class="text-right">€@(line.Whiskey.Price.ToString())</td>
                <td class="text-right">€@(line.SubTotal.ToString())</td>

                <td class="cell-small">

                    <div class="row">

                        <div class="col">
                            <form method="post">
                                <div class="input-group-prepend">
                                    <button class="btn btn-icon"
                                            type="submit"
                                            asp-page="/ShoppingCartPages/Index"
                                            asp-page-handler="AddToShoppingCart"
                                            asp-route-whiskeyId="@line.Whiskey.Id">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                    <button class="btn btn-icon"
                                            type="submit"
                                            asp-page="/ShoppingCartPages/Index"
                                            asp-page-handler="RemoveFromShoppingCart"
                                            asp-route-whiskeyId="@line.Whiskey.Id">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <input type="number" min="1" class="form-control" name="amount" value="1">
                                </div>
                            </form>
                        </div>

                        <div class="col col-3 px-0">
                            <form class="form-inline" method="post">
                                <div>
                                    <button class="btn btn-icon"
                                            type="submit"
                                            asp-page="/ShoppingCartPages/Index"
                                            asp-page-handler="RemoveItemFromShoppingCart"
                                            asp-route-itemId="@line.Id">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </form>
                        </div>

                    </div>

                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">
                €@(Model.PriceTotal.ToString("0.00"))
            </td>
            <td></td>
        </tr>
    </tfoot>
</table>
<a class="btn btn-dark" asp-page="../WiskeyPages/Index">Continue shopping</a>
<div>
    <form method="post">
        <button class="btn btn-dark"
                type="submit"
                asp-page="/OrderPages/Index"
                asp-page-handler="AddOrder">
            Add Order
        </button>
    </form>
</div>