@using SjonnieLoper.Core
@model WhiskeyBase
<div class="card">
    <div class="card-header">
        <h5 class="card-text">@Html.DisplayFor(w => w.Name)</h5>
    </div>
            <div class="card-body">
                <div class="d-flex flex-column">
                    <span class="card-text">@Html.DisplayFor(w => w.Brand)</span>
                    <span class="card-text">@Html.DisplayFor(w => w.Percentage)%</span>
                    <span class="card-text">€ @Html.DisplayFor(w => w.Price)</span>
                    <span class="card-text">@Html.DisplayFor(w => w.Type)</span>
                    <span class="card-text">@Html.DisplayFor(w => w.AgeYears) Years</span>
                </div>
            </div>
    <div class="card-footer d-flex py-0">
        <a class="btn btn-lg" asp-page="./Details"
           asp-route-whiskeyId="@Model.Id">
            <i class="fas fa-search-plus"></i>
        </a>
        <a class="btn btn-lg" asp-page="./Create_Edit"
           asp-route-whiskeyId="@Model.Id">
            <i class="fas fa-edit"></i>
        </a>
        <a class="btn btn-lg" asp-page="./Delete"
           asp-route-whiskeyId="@Model.Id">
            <i class="fas fa-trash-alt"></i>
        </a>
    </div>
</div>