@using SjonnieLoper.Core
@model WhiskeyBase


<div class="panel panel-default">
    <div class="panel-heading">
        <h3>@Model.Name</h3>
    </div>
    <div class="panel-body d-flex flex-column">
        <span>Location: @Model.Brand</span>
        <span>Cuisine: @Model.DateOfBottling</span>
    </div>
    <div class="panel-footer">
        <a class="btn btn-lg" asp-page="./Details"
           asp-route-whiskeyId="@Model.Id">
            <i class="glyphicon glyphicon-zoom-in"></i>
        </a>
        <a class="btn btn-lg" asp-page="./Create_Edit"
           asp-route-whiskeyId="@Model.Id">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-lg" asp-page="./Delete"
           asp-route-whiskeyId="@Model.Id">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
</div>