@page  "{whiskeyId:int}"
@model SjonnieLoper.Pages.WiskeyPages.DetailsModel
@{
}
<h2>@Model.Whiskey.Name</h2>

@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}

<div>
    Id: @Model.Whiskey.Id
</div>
<div>
    Name: @Model.Whiskey.Name
</div>
<div>
    <img src="@Url.Content("~/Images/" + Model.Whiskey.ImagePath)" />
</div>
<div>
    Brand: @Model.Whiskey.Brand
</div>
<div>
    Type: @Model.Whiskey.Type
</div>
<div>
    Alc%: @Model.Whiskey.Percentage
</div>
<div>
    Price: @Model.Whiskey.Price
</div>
<div>
    Origin: @Model.Whiskey.CountryOfOrigin.Name
</div>
<div>
    Age: @Model.Whiskey.AgeYears Years
</div>
<div>
    Amount avaible: @Model.Whiskey.AmountInStorage
</div>

<a asp-page="./Index" class="btn btn-outline-dark">All Whiskeys</a>
<partial name="_AddToCartBtn" model="@Model.Whiskey.Id" />